<template lang="html">
  <form>
    <div class="form-group row">
      <label for="first_name" class="col-sm-2 col-form-label">First name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control-plaintext"  id="first_name"  v-model="user.first_name">
      </div>
    </div>
    <div class="form-group row">
      <label for="last_name" class="col-sm-2 col-form-label">Last name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control-plaintext"  id="last_name"  v-model="user.last_name">
      </div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control-plaintext"  id="email"  v-model="user.email">
      </div>
    </div>
    <div class="form-group row" v-if="changePassword">
      <label for="password" class="col-sm-2 col-form-label">password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control-plaintext"  id="password"  v-model="user.password">
      </div>
    </div>
    <button type="submit" @click.prevent="handleSubmit" >Ajouter</button>
    {{test}}
  </form>
</template>

<script>
import Vue from 'vue'
Vue.use(require('vue-resource'))

export default {
  name: 'addTodo',
   tournament.createTournament_user is not a function

  mounted: function () {
    this.$http.get('http://localhost:3000/admin/6')
      .then(response => {
        this.user.id = response.data.id
        this.user.first_name = response.data.first_name
        this.user.last_name = response.data.last_name
        this.user.email = response.data.email
        this.user.password = null
      })
      .catch(function (error) {
        console.error(error.response)
      })
  },
  methods: {
  }
}
</script>

<style lang="css">
</style>
