<template lang="html">
    <div>
        <header>
            <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
                <router-link class="navbar-brand" :to="{ name: 'home' }">WebSiteName</router-link>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="true">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navb" class="navbar-collapse collapse hide">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <router-link class="nav-link" :to="{ name: 'home' }">Home</router-link>
                        </li>
                        <li class="nav-item">
                            <router-link class="nav-link" :to="{ name: 'tournaments' }">Tournaments</router-link>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" v-if="! is_connected">
                            <router-link class="nav-link" :to="{ name: 'inscription' }"><span class="fas fa-user"></span> Sign Up</router-link>
                        </li>

                        <li class="nav-item" v-if="! is_connected">
                            <router-link class="nav-link" :to="{ name: 'connection' }"><span class="fas fa-sign-in-alt"></span>Login</router-link>
                        </li>

                        <li class="nav-item" v-if="is_connected">
                            <a class="nav-link" @click.prevent="Disconnected"><span class="fas fa-sign-out-alt"></span>Disconnection</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main role="main">
            <div class="container d-block py-5">
                <router-view></router-view>
            </div>
            <!-- FOOTER -->
            <footer class="container ">
                <p>&copy; 2017-2019</p>
            </footer>
        </main>
    </div>
</template>

<script>
import './index/assets.js'

export default {
  name: 'index',
  components: {},
  data () {
    return {
      localStorage: localStorage,
      message: '',
      messages: [],
      state: this.$store.state
    }
  },
  computed: {
    is_connected () {
      return this.$store.state.is_connected
    }
  },
  methods: {},
  mounted () {}
}
</script>

<style lang="css">
</style>
