<template>
    <div class="container">
        <div class="row d-flex justify-content-center flex-column text-center">
            {{message}}
            <div>Round {{nb_round}}</div>
            <div class="container">
                <div class="row mt-3">
                    <div class="col-5 d-flex flex-column justify-content-center">
                        <div>{{users[0].first_name}}</div>
                        <div class="number-input">
                            <input disabled v-model="users[0].ScoreRoundUser.score">
                        </div>
                    </div>
                    <div class="col-2 d-flex flex-column justify-content-center">VS</div>
                    <div class="col-5">
                        <div>{{users[1].first_name}}</div>
                        <div class="number-input">
                            <input disabled v-model="users[1].ScoreRoundUser.score">
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3">{{ date_past | dateFormat("mm") }} h {{ date_past | dateFormat("mm") }} min {{ date_past | dateFormat("ss") }}</div>
        </div>
    </div>

</template>

<script>
import io from 'socket.io-client'

export default {
  name: 'matche-user',
  data () {
    return {
      socket: io('localhost:3000'),
      nb_round: 0,
      date_past: '',
      start_date: '',
      users: '',
      rounds: {},
      message: ''
    }
  },
  mounted: function () {
    this.$http.post('http://localhost:3000/matche', {matche_id: this.$route.params.id})
      .then(response => {
        this.reload(response.data.Rounds)
      })
      .catch(function (error) {
        console.log(error.response)
      })

    this.socket.on('MESSAGE', (data) => {
      this.messages = [...this.messages, data]
    })

    this.socket.on('score_user_change', (response) => {
      this.reload(response.Rounds)
    })

    setInterval(function () {
      this.date_past = new Date(new Date() - this.start_date)
    }.bind(this), 1000)
  },
  methods: {
    reload (Rounds) {
      this.rounds = Rounds
      this.nb_round = this.rounds.length
      this.start_date = new Date(this.rounds[this.rounds.length - 1].start_time)
      this.users = this.rounds[this.rounds.length - 1].round_user
    }
  }
}
</script>
