<template>
    <div class="container">
        <div class="row d-flex justify-content-center flex-column text-center">
            <div>Round {{nb_round}}</div>
            <div class="container">
                <div class="row mt-3">
                    <div class="col-5 d-flex flex-column justify-content-center">
                        <div>{{users[0].first_name}}</div>
                        <div class="number-input">
                            <input disabled v-model="users[0].ScoreRoundUser.score">
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <button type="button" class="btn btn-primary px-4 py-2 w-100" v-bind="users" @click.prevent="incrementScore(users[0].id)">+</button>
                        </div>
                    </div>
                    <div class="col-2 d-flex flex-column justify-content-center">VS</div>
                    <div class="col-5">
                        <div>{{users[1].first_name}}</div>
                        <div class="number-input">
                            <input disabled v-model="users[1].ScoreRoundUser.score">
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <!--<button class="btn w-100 bg-info">+</button>-->
                            <button type="button" class="btn btn-primary px-4 py-2 w-100" @click="incrementScore(users[1].id)">+</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3">{{ date_past | dateFormat("mm") }} h {{ date_past | dateFormat("mm") }} min {{ date_past | dateFormat("ss") }}</div>
        </div>
    </div>

</template>

<script>
export default {
  name: 'matche-arbitre',
  data () {
    return {
      nb_round: 0,
      date_past: '',
      start_date: '',
      users: '',
      rounds: {}
    }
  },
  mounted: function () {
    this.$http.post('http://localhost:3000/matche', {matche_id: this.$route.params.id})
      .then(response => {
        this.reload(response)
      })
      .catch(function (error) {
        console.log(error.response)
      })

    setInterval(function () {
      this.date_past = new Date(new Date() - this.start_date)
    }.bind(this), 1000)
  },
  methods: {
    incrementScore (userId) {
      this.$http.post('http://localhost:3000/matche/round/incrementScore', {user_id: userId, round_id: this.rounds[this.rounds.length - 1].id})
        .then(response => {
          console.log(response)
          this.reload(response)
        })
        .catch(function (error) {
          console.error(error)
        })
    },
    reload (response) {
      this.rounds = response.data.Rounds
      this.nb_round = this.rounds.length
      this.start_date = new Date(this.rounds[this.rounds.length - 1].start_time)
      this.users = this.rounds[this.rounds.length - 1].round_user
    }
  }
}
</script>
