<template lang="html">
    <div>
        <tab-tournaments-arbitre></tab-tournaments-arbitre>
    </div>
</template>

<script>
import tabTournamentsArbitre from '../divers/tournament/tableau-arbitre'
export default {
  name: 'homeArbitre',
  components: {
    tabTournamentsArbitre
  },
  data () {
    return {
    }
  }
}
</script>
