<template lang="html">
    <div class="bg-light h-100 d-block">
        <router-view></router-view>
    </div>
</template>

<script>
import '../../assets/css/arbitre/assets'
import io from 'socket.io-client'

export default {
  name: 'indexArbitre',
  components: {},
  data () {
    return {
      localStorage: localStorage,
      message: '',
      messages: [],
      socket: io('localhost:3000'),
      state: this.$store.state
    }
  },
  computed: {
    checkLogin () {
      return this.$store.state.is_connected
    }
  },
  methods: { },
  mounted () {
    this.socket.on('user_register', (data) => {
      this.messages = [...this.messages, data]
    })
    this.$http.get('http://localhost:3000/')
      .then(response => {})
  }
}
</script>

<style lang="css">
</style>
