<template>
    <div>
        <div v-if="is_registred">
            your registred
        </div>
        <div v-else class="d-flex justify-content-center h-100">
            <div class="card" v-if="!is_response">
                <div class="card-header">
                    <h3>Register</h3>
                </div>
                <div class="card-body">
                    <div v-if="messageDanger" class="alert alert-danger" role="alert">
                        {{messageDanger}}
                    </div>
                    <form>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="first_name" class="form-control" type="text" v-model="first_name" placeholder="first_name" required autofocus>

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="last_name" class="form-control" type="text" v-model="last_name" placeholder="last name" required autofocus>

                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="email" class="form-control" type="email" placeholder="mail" v-model="email" required autofocus>

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input id="password" class="form-control" type="password" placeholder="password" v-on:blur="validatePassword" v-model="password" required>
                        </div>
                        <div v-if="vulnerable_password" class="form-group">
                                {{vulnerable_password}}
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input id="password-confirm" class="form-control" type="password" placeholder="confirm password"
                                   v-model="password_confirmation" required>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn float-right login_btn" @click="handleSubmit">Login</button>
                        </div>
                    </form>

                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Already have an account? <router-link class="ml-2" :to="{ name: 'connection' }"> Login</router-link>
                    </div>
                </div>
            </div>
            <div v-else>
                <div class="card-header">
                    <h3>Two factor authentification</h3>
                    <span class="d-block text-center">(2FA)</span>
                </div>
                <div class="card-body">
                    <div>
                        <img :src="token_URL">
                    </div>
                    <div>
                        <input type="text" v-model="response.token.base32">
                        <button type="button" @click="doCopy">Copy!</button>
                        <div>
                            {{copyMessage}}
                        </div>
                    </div>
                    <div class="mt-5">confirm your code</div>
                    <form>
                        <input id="2fa_code" class="text-center" type="text" v-model="code_validation" placeholder="*** ***" required autofocus>
                        <div class="form-group">
                            <button type="submit" class="btn float-right login_btn" @click="validation2fa">Login</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div>
                        You don't have software for two factor authentication: use Google Authentificator.
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <span class="mx-4">Android</span>
                        <span class="mx-4">IOS</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'
import { pwnedPassword } from 'hibp'
var QRCode = require('qrcode')
Vue.use(require('vue-resource'))

export default {
  name: 'inscription',
  props: ['nextUrl'],
  data () {
    return {
      first_name: '',
      last_name: '',
      email: '',
      password: '',
      password_confirmation: '',
      messageDanger: null,
      is_response: false,
      token_URL: null,
      copyMessage: '',
      code_validation: '',
      is_registred: false,
      vulnerable_password: '',
      response: {
        id: null,
        token: {
          ascii: '',
          base32: '',
          hex: '',
          otpauth_url: ''
        }
      },
      response_token: {
        response: '',
        message: ''
      }
    }
  },
  mounted: function () {
  },
  methods: {
    handleSubmit (e) {
      e.preventDefault()
      this.messageDanger = null
      if (this.password === this.password_confirmation && this.password.length > 0 && this.vulnerable_password === '') {
        let url = 'http://localhost:3000/user/register'
        this.$http.post(url, {
          first_name: this.first_name,
          last_name: this.last_name,
          email: this.email,
          password: this.password
        })
          .then(response => response.json())
          .then(json => {
            if (json.res === 'KO') {
              console.log(json)
              this.email = ''
              this.messageDanger = json.message
            } else {
              this.is_response = true
              this.response.id = json.user.id
              this.response.token = json.user.token
              console.log(json)
              QRCode.toDataURL(this.response.token.otpauth_url)
                .then(url => {
                  this.token_URL = url
                })
                .catch(err => {
                  console.error(err)
                })
            }
          })
      } else {
        this.password = ''
        this.password_confirmation = ''
        this.vulnerable_password = ''
        this.messageDanger = 'Passwords do not match'
      }
    },
    validation2fa (e) {
      e.preventDefault()
      this.messageDanger = null
      if (this.password === this.password_confirmation && this.password.length > 0) {
        let url = 'http://localhost:3000/user/2fa'
        this.$http.post(url, {
          email: this.email,
          code_validation: this.code_validation
        })
          .then(response => response.json())
          .then(json => {
            if (json.res === 'KO') {
              this.code_validation = ''
              this.messageDanger = json.message
            } else {
              this.is_registred = true
            }
          })
      } else {
        this.password = ''
        this.password_confirmation = ''
        this.messageDanger = 'Passwords do not match'
      }
    },
    validatePassword (e) {
      let passwd = this.password
      pwnedPassword(passwd)
        .then(numPwns => {
          console.log(numPwns)
          if (numPwns !== 0) {
            this.vulnerable_password = 'This password is vulnerable'
          } else {
            this.vulnerable_password = ''
          }
        })
    },
    doCopy: function () {
      this.$copyText(this.response.token.base32)
    }
  }
}
</script>
