<template>
    <div v-if="! is_authentificate" class="d-flex justify-content-center h-100">
        <div class=" card card-singIn">
            <div class="card-header">
                <h3>Sign In</h3>
            </div>
            <div class="card-body">
                <div class="alert alert-danger" role="alert" v-if="error_message != null">
                    {{error_message}}
                </div>
                <form>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input id="email" class="form-control" type="email" v-model="input.email" required autofocus>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input id="password" class="form-control" type="password" v-model="input.password" required>
                    </div>
                    <button type="submit" class="btn w-100 login_btn text-uppercase" @click="handleSubmit">Login
                    </button>
                </form>

            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Don't have an account?
                    <router-link class="ml-2" :to="{ name: 'inscription' }">Sign Up</router-link>
                </div>
            </div>
        </div>
    </div>
    <div v-else>
        <div class="card-header">
            <h3>Two factor authentification</h3>
            <span class="d-block text-center">(2FA)</span>
        </div>
        <div class="card-body">
            <form>
                <input id="2fa_code" class="text-center" type="text" v-model="code_validation" placeholder="*** ***"
                       required autofocus>
                <div class="form-group">
                    <button type="submit" class="btn float-right login_btn" @click="validation2fa">Login</button>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div>
                You don't have software for two factor authentication: use Google Authentificator.
            </div>
            <div class="d-flex justify-content-center mt-3">
                <span class="mx-4">Android</span>
                <span class="mx-4">IOS</span>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'
import User from '@/lib/user'

Vue.use(require('vue-resource'))

export default {
  name: 'connection',
  data () {
    return {
      is_authentificate: false,
      code_validation: '',
      input: {
        email: '',
        password: '',
        userAgent: '',
        userIP: ''
      },
      error_message: null
    }
  },
  methods: {
    handleSubmit (e) {
      e.preventDefault()
      this.error_message = null
      if (this.input.password.length > 0) {
        this.$http.post('http://localhost:3000/user/authenticate', {
          email: this.input.email,
          password: this.input.password,
          user_agent: this.input.userAgent,
          user_ip: this.input.userIP
        })
          .then(response => response.json())
          .then(json => {
            if (json.res === 'OK') {
              this.is_authentificate = true
            } else {
              this.error_message = json.message
            }
          })
          .catch(function (error) {
            this.error_message = error.data.message
          })
      }
    },
    validation2fa (e) {
      e.preventDefault()
      this.messageDanger = null
      let url = 'http://localhost:3000/user/authenticate/validation'
      this.$http.post(url, {
        email: this.input.email,
        password: this.input.password,
        code_validation: this.code_validation,
        user_agent: this.input.userAgent,
        user_ip: this.input.userIP
      })
        .then(response => response.json())
        .then(json => {
          if (json.res === 'KO') {
            this.code_validation = ''
            this.messageDanger = json.message
          } else {
            this.$session.start()
            this.$session.set('jwt', json.token)
            Vue.http.headers.common['Authorization'] = 'Bearer ' + json.token
            localStorage.setItem('user', JSON.stringify(json))
            localStorage.setItem('jwt', json.token)
            Vue.http.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('jwt')
            this.$store.state.is_connected = User.is_connected()
            this.$store.state.is_connected = User.is_connected()
            this.$store.state.is_admin = User.is_admin()
            this.$store.state.is_arbitre = User.is_arbitre()
            this.$store.state.is_user = User.is_user()

            if (localStorage.getItem('jwt') != null) {
              this.$emit('loggedIn')
              if (this.$route.params.nextUrl != null) {
                this.$router.push(this.$route.params.nextUrl)
              } else {
                if (this.$store.state.is_admin) {
                  this.$router.push('admin')
                } else if (this.$store.state.is_arbitre) {
                  this.$router.push('arbitre')
                } else {
                  this.$router.push('home')
                }
              }
            }
          }
        })
    }
  },
  mounted () {
    this.input.userAgent = window.navigator.userAgent
    this.$http.get('http://jsonip.com/', {
      headers: {
        'Access-Control-Allow-Origin': '*',
        'Access-Control-Allow-Methods': '*',
        'Access-Control-Allow-Headers': 'Accept, origin, content-type,X-Requested-With,Content-Length,Accept-Encoding,X-CSRF-Token,Authorization,token'
      }
    })
      .then(response => response.json())
      .then(json => {
        this.input.userIP = json.ip
      })
      .catch(() => {
        this.input.userIP = '94.23.140.102'
      })
  }
}
</script>
