<template>
    <div class="container">
        <div class="row d-flew justify-content-center">
            <div class="col-12 col-md-8">
                <form @submit.prevent="handleSubmit">
                    <div class="form-group">
                        <label for="first_name">first name</label>
                        <input type="text" v-model="user.first_name" v-validate="'required'" id="first_name" name="first_name" class="form-control" :class="{ 'is-invalid': errors.has('first_name') }" />
                        <div v-if="errors.has('first_name')" class="invalid-feedback">{{ errors.first('first_name') }}</div>
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last name</label>
                        <input type="text" v-model="user.last_name" v-validate="'required'" id="last_name" name="last_name" class="form-control" :class="{ 'is-invalid': errors.has('last_name') }" />
                        <div v-if="errors.has('last_name')" class="invalid-feedback">{{ errors.first('last_name') }}</div>
                    </div>
                    <div class="form-group">
                        <label for="last_name">email</label>
                        <input type="email" v-model="user.email" v-validate="'required'" id="email" name="email" class="form-control" :class="{ 'is-invalid': errors.has('email') }" />
                        <div v-if="errors.has('email')" class="invalid-feedback">{{ errors.first('email') }}</div>
                    </div>
                    <div class="form-group">
                        <label for="role">Role</label>
                        <select v-model="user.role" v-validate="'required'" id="role" name="role" class="form-control" :class="{ 'is-invalid': errors.has('role') }">
                            <option value="">Choose Party</option>
                            <option v-for="(role, index) in roles" :key="index" :value=role>{{role}}</option>
                        </select>

                        <div v-if="errors.has('email')" class="invalid-feedback">{{ errors.first('email') }}</div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'
import VeeValidate from 'vee-validate'
Vue.use(VeeValidate)

export default {
  name: 'add-user',
  data () {
    return {
      user: {
        first_name: '',
        last_name: '',
        email: '',
        role: ''
      },
      roles: ['Player', 'User', 'Arbitre', 'Admin'],
      requiredDateStart: false,
      submitted: false
    }
  },
  methods: {
    handleSubmit (e) {
      this.submitted = true
      this.$validator.validate().then(valid => {
        if (valid) {
          let url = 'http://localhost:3000/user/new'
          this.$http.post(url, {
            first_name: this.user.first_name.trim(),
            last_name: this.user.last_name.trim(),
            email: this.user.email.trim(),
            role: this.user.role.trim()
          })
            .then(response => response.json())
            .then(json => {
              console.log(json)
            })
        }
      })
    }
  }
}
</script>
