<template>
    <table class="table table-bordered" id="" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Registered</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Registered</th>
        </tr>
        </tfoot>
        <tbody>
        <tr v-for="user in users" :key="user">
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
            <td>{{new Date(user.createdAt) | dateParse('YYYY-MM-DDThh:mm:ss') | dateFormat('YYYY-MM-DD') }}</td>
        </tr>
        </tbody>
    </table>
</template>

<script>
export default {
  name: 'tab-user',
  data () {
    return {
      users: {
        user: {
          id: '',
          first_name: '',
          last_name: '',
          email: '',
          role: '',
          blocked: false,
          createdAt: ''
        }
      }
    }
  },
  mounted: function () {
    this.$http.get('http://localhost:3000/user')
      .then(response => {
        this.users = response.data
        console.log(response.data)
      })
      .catch(function (error) {
        console.error(error.response)
      })
  }
}
</script>
