<template lang="html">
    <div class="container-fluid">
        <!-- Icon Cards -->
        <div class="row">
            <!--<div class="col-xl-3 col-sm-6 mb-3">-->
                <!--<div class="card text-white bg-primary o-hidden h-100">-->
                    <!--<div class="card-body">-->
                        <!--<div class="card-body-icon">-->
                            <!--<i class="fas fa-fw fa-comments"></i>-->
                        <!--</div>-->
                        <!--<div class="mr-5">26 New Messages!</div>-->
                    <!--</div>-->
                    <!--<a class="card-footer text-white clearfix small z-1" href="#">-->
                        <!--<span class="float-left">View Details</span>-->
                        <!--<span class="float-right">-->
                          <!--<i class="fas fa-angle-right"></i>-->
                        <!--</span>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-xl-3 col-sm-6 mb-3">-->
                <!--<div class="card text-white bg-warning o-hidden h-100">-->
                    <!--<div class="card-body">-->
                        <!--<div class="card-body-icon">-->
                            <!--<i class="fas fa-fw fa-list"></i>-->
                        <!--</div>-->
                        <!--<div class="mr-5">11 New Tasks!</div>-->
                    <!--</div>-->
                    <!--<a class="card-footer text-white clearfix small z-1" href="#">-->
                        <!--<span class="float-left">View Details</span>-->
                        <!--<span class="float-right">-->
                            <!--<i class="fas fa-angle-right"></i>-->
                        <!--</span>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-xl-3 col-sm-6 mb-3">-->
                <!--<div class="card text-white bg-success o-hidden h-100">-->
                    <!--<div class="card-body">-->
                        <!--<div class="card-body-icon">-->
                            <!--<i class="fas fa-fw fa-shopping-cart"></i>-->
                        <!--</div>-->
                        <!--<div class="mr-5">123 New Orders!</div>-->
                    <!--</div>-->
                    <!--<a class="card-footer text-white clearfix small z-1" href="#">-->
                        <!--<span class="float-left">View Details</span>-->
                        <!--<span class="float-right">-->
                            <!--<i class="fas fa-angle-right"></i>-->
                        <!--</span>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-xl-3 col-sm-6 mb-3">-->
                <!--<div class="card text-white bg-danger o-hidden h-100">-->
                    <!--<div class="card-body">-->
                        <!--<div class="card-body-icon">-->
                            <!--<i class="fas fa-fw fa-life-ring"></i>-->
                        <!--</div>-->
                        <!--<div class="mr-5">13 New Tickets!</div>-->
                    <!--</div>-->
                    <!--<a class="card-footer text-white clearfix small z-1" href="#">-->
                        <!--<span class="float-left">View Details</span>-->
                        <!--<span class="float-right">-->
                            <!--<i class="fas fa-angle-right"></i>-->
                        <!--</span>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        </div>

        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <router-link class="nav-link d-inline" :to="{ name: 'userAdmin' }">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Users</span>
                </router-link>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <tab-user></tab-user>
                </div>
            </div>
            <div class="card-footer small text-muted"></div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                <router-link class="nav-link d-inline" :to="{ name: 'tournamentAdmin' }">
                    <i class="fas fa-fw fa-table-tennis"></i>
                    <span>Tournaments</span>
                </router-link>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <tab-tournaments></tab-tournaments>
                </div>
            </div>
            <div class="card-footer small text-muted"></div>
        </div>
    </div>
</template>

<script>
import TabUser from '../divers/user/tableau.vue'
import tabTournaments from '../divers/tournament/tableau'

export default {
  name: 'homeAdmin',
  components: {
    TabUser,
    tabTournaments
  },
  data () {
    return {}
  }
}
</script>
