<template lang="html">
    <div id="page-top">
        <nav class="navbar navbar-expand navbar-dark bg-dark static-top d-flex justify-content-between">
            <router-link class="navbar-brand mr-1" :to="{ name: 'homeAdmin' }">Ping-pong</router-link>

            <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bell fa-fw"></i>
                        <span class="badge badge-danger">9+</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-envelope fa-fw"></i>
                        <span class="badge badge-danger">7</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle fa-fw"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right bg-dark px-4" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="#">Activity Log</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"  data-toggle="modal" @click.prevent="Disconnected">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>

        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="sidebar navbar-nav">
                <li class="nav-item active">
                    <router-link class="nav-link" :to="{ name: 'homeAdmin' }">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </router-link>
                </li>

                <li class="nav-item dropdown">
                    <router-link class="nav-link dropdown-toggle" href="#" id="menuUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" :to="{ name: 'userAdmin' }">
                        <i class="fas fa-fw fa-users"></i>
                        <span>User</span>
                    </router-link>
                    <div class="dropdown-menu" aria-labelledby="menuUser">
                        <router-link class="nav-link" :to="{ name: 'addUserAdmin' }">
                            Add user
                        </router-link>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <router-link class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" :to="{ name: 'tournamentAdmin' }">
                        <i class="fas fa-fw fa-users"></i>
                        <span>Tournament</span>
                    </router-link>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        <router-link class="nav-link" :to="{ name: 'addTournamentAdmin' }">
                            Add tournaments
                        </router-link>
                    </div>
                </li>
            </ul>

            <div id="content-wrapper">
                <router-view></router-view>
                <!-- Sticky Footer -->
                <footer class="sticky-footer ">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright © Your Website 2019</span>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- /.content-wrapper -->
        </div>
        <!-- /#wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

    </div>
</template>

<script>
import io from 'socket.io-client'
import '../../assets/css/admin/assets.js'

export default {
  name: 'indexAdmin',
  components: {},
  data () {
    return {
      localStorage: localStorage,
      message: '',
      messages: [],
      socket: io('localhost:3000'),
      state: this.$store.state
    }
  },
  computed: {
    checkLogin () {
      return this.$store.state.is_connected
    }
  },
  methods: {},
  mounted () {
    // this.socket.on('user_register', (data) => {
    //   this.messages = [...this.messages, data]
    // })
    // this.$http.get('http://localhost:3000/')
    //   .then(response => {})
  }
}
</script>

<style lang="css">
</style>
