<template lang="html">
    <div class="container-fluid">
        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <router-link class="nav-link d-inline" :to="{ name: 'tournamentAdmin' }">
                    <i class="fas fa-fw fa-table-tennis"></i>
                    <span>Tournaments</span>
                </router-link>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <tab-tournaments></tab-tournaments>
                </div>
            </div>
            <div class="card-footer small text-muted"></div>
        </div>
    </div>
</template>

<script>
import tabTournaments from '../divers/tournament/tableau'

export default {
  name: 'tournamentAdmin',
  components: {
    tabTournaments
  },
  data () {
    return {
    }
  }
}
</script>

<style scoped>

</style>
