<template lang="html">
    <div class="container-fluid">
        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <router-link class="nav-link d-inline" :to="{ name: 'userAdmin' }">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Users</span>
                </router-link>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <tab-user></tab-user>
                </div>
            </div>
            <div class="card-footer small text-muted"></div>
        </div>
    </div>
</template>

<script>
import TabUser from '../divers/user/tableau.vue'

export default {
  name: 'homeAdmin',
  components: {
    TabUser
  },
  data () {
    return {
    }
  }
}
</script>

<style lang="css">
</style>
