<template lang="html">
    <div>
        <h1>Partie en cours !!</h1>

        <div class="container mb-4">

            <div class="row">
                <div id="j1">
                    <h2>raphael Nadal</h2>
                    <div class="number-input">
                        <input disabled class="scoreJ1" min="0" name="quantity" value="0" type="number">
                    </div>
                    <p id="serviceJ1"></p>
                </div>
                <div id="j2">
                    <h2>Roger Federer</h2>
                    <div class="number-input">
                        <input disabled class="scoreJ2" min="0" name="quantity" value="0" type="number">
                    </div>
                    <p id="serviceJ2"></p>
                </div>
            </div>
            <div id="hideScore" style="display:none"></div>

        </div>

    </div>
</template>

<script>
export default {
  name: 'leBody',
  components: {
  },
  data () {
    return {
      todoList: []
    }
  }
}
</script>

<style lang="css">
</style>
