<template lang="html">
    <div>
        <tab-tournaments-user></tab-tournaments-user>
    </div>
</template>

<script>
import tabTournamentsUser from '../divers/tournament/tableau-user'

export default {
  name: 'tournaments',
  components: {
    tabTournamentsUser
  },
  data () {
    return {
    }
  }
}
</script>
