<template>
    <div class="container">
        <div class="row d-flew justify-content-center">
            <div class="col-12 col-md-8">
                <form @submit.prevent="handleSubmit">
                    <div v-if="messageDanger">
                        {{messageDanger}}
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" v-model="tournament.name" v-validate="'required'" id="name" name="name"
                               class="form-control" :class="{ 'is-invalid': errors.has('name') }"/>
                        <div v-if="errors.has('name')" class="invalid-feedback">{{ errors.first('name') }}</div>
                    </div>
                    <div class="form-group">
                        <label for="date_debut">Starte date</label>
                        <datetime format="YYYY-MM-DD H:i:s" v-model="tournament.date_debut" id="date_debut"></datetime>
                        <div v-if="requiredDateStart" class="invalid-feedback">
                            The start date of tournament is required
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" v-model="tournament.description" v-validate="'required'" id="description"
                                  name="description" class="form-control"
                                  :class="{ 'is-invalid': errors.has('description') }">
                        </textarea>
                        <div v-if="errors.has('description')" class="invalid-feedback">
                            {{ errors.first('description') }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description">Player</label>
                        <table class="table table-bordered" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th></th>
                                <th>First name</th>
                                <th>Last name</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr v-for="(user, index) in users_player" :key="index">
                                <td>
                                    <input type="checkbox" v-model="tournament.users" :value="user.id"/>
                                </td>
                                <td>{{user.first_name}}</td>
                                <td>{{user.last_name}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="form-group">
                        <label for="description">Abitre</label>
                        <table class="table table-bordered" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th></th>
                                <th>First name</th>
                                <th>Last name</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr v-for="(user, index) in users_arbitre" :key="index">
                                <td>
                                    <input type="checkbox" v-model="tournament.arbitre" :value="user.id"/>
                                </td>
                                <td>{{user.first_name}}</td>
                                <td>{{user.last_name}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'
import VeeValidate from 'vee-validate'
import datetime from 'vuejs-datetimepicker'

Vue.use(VeeValidate)

export default {
  name: 'add-tournament',
  components: {
    datetime
  },
  data () {
    return {
      tournament: {
        name: '',
        date_debut: '',
        description: '',
        users: [],
        arbitre: []
      },
      users_player: {
        user: {
          id: '',
          first_name: '',
          last_name: ''
        }
      },
      users_arbitre: {
        user: {
          id: '',
          first_name: '',
          last_name: ''
        }
      },
      requiredDateStart: false,
      messageDanger: null,
      submitted: false
    }
  },
  methods: {
    handleSubmit (e) {
      this.submitted = true
      this.messageDanger = null
      this.datepickerClosed()
      this.calculeColumn(this.tournament.users.length)
      this.$validator.validate().then(valid => {
        if (valid && !this.requiredDateStart && this.tournament.users.length > 1 && this.tournament.arbitre.length > 0) {
          let url = 'http://localhost:3000/tournament/new'
          this.$http.post(url, {
            nom: this.tournament.name.trim(),
            description: this.tournament.description.trim(),
            date_debut: new Date(this.tournament.date_debut.trim()).toISOString(),
            users: this.tournament.users,
            arbitres: this.tournament.arbitre
          }).then(response => response.json())
            .then(json => {
              console.log(json.OK)
              if (json.OK === 'KO') { this.messageDanger = json.message }
            })
        }
        if (this.tournament.users.length <= 1) {
          this.messageDanger = 'Select a user'
        }
        if (this.tournament.arbitre.length === 0) {
          this.messageDanger = 'Select a arbiter'
        }
      })
    },
    datepickerClosed (e, value) {
      this.requiredDateStart = (this.tournament.date_debut === '')
    },
    loadUser () {
      this.$http.get('http://localhost:3000/user/?role=Player')
        .then(response => response.json())
        .then(json => {
          if (json.OK === 'KO') {
            this.messageDanger = json.message
          } else {
            // this.users_player = json.filter(user => user.id >= 28)
            this.users_player = json
          }
        })
    },
    loadArbitre () {
      this.$http.get('http://localhost:3000/user/?role=Arbitre')
        .then(response => response.json())
        .then(json => {
          if (json.OK === 'KO') {
            this.messageDanger = json.message
          } else {
            // this.users_player = json.filter(user => user.id >= 28)
            this.users_arbitre = json
          }
        })
    },
    calculeColumn (nbPlayer) {
      let rang = 2
      let col1 = 1
      let col2 = 0
      if (nbPlayer <= 1) {
        return null
      }

      while (nbPlayer > rang) {
        console.log(rang)
        rang = rang + rang
        console.log(rang)
      }

      col2 = rang - nbPlayer
      col1 = nbPlayer - col2
      console.log({col1, col2})
      return {col1, col2}
    }
  },
  mounted () {
    this.loadUser()
    this.loadArbitre()
  }
}
</script>
