<template>
    <table class="table table-bordered" id="" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>{{column1}}</th>
            <th>{{column2}}</th>
            <th>{{column3}}</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>{{column1}}</th>
            <th>{{column2}}</th>
            <th>{{column3}}</th>
        </tr>
        </tfoot>
        <tbody>
        <tr v-for="tournament in tournaments" :key="tournament.id">
            <td>{{tournament.nom}}</td>
            <td>{{new Date(tournament.date_debut) | dateParse('YYYY-MM-DDThh:mm:ss') | dateFormat('YYYY-MM-DD hh:mm') }}</td>
            <td class="d-flex  justify-content-center flex-wrap">
                <button type="button" class="btn btn-primary px-4 py-2" v-bind="tournament" @click.prevent="startTournament(tournament.id)">Start</button>
            </td>
        </tr>
        <tr v-for="matche in matches" :key="matche">
            <td>{{matche.Matche_user[0].first_name}}</td>
            <td>{{matche.Matche_user[1].first_name}}</td>
            <td class="d-flex  justify-content-center flex-wrap">
                <button type="button" class="btn btn-primary px-4 py-2" v-bind="tournament" @click.prevent="startMatche(matche.id)">Start</button>
            </td>
        </tr>
        <!--{{ new Date(new Date() - new Date('2019-06-08 17:47:00')) }}-->
        </tbody>
    </table>

</template>

<script>
export default {
  name: 'tab-tournament-arbitre',
  data () {
    return {
      column1: 'Name',
      column2: 'Start date',
      column3: 'Actions',
      tournaments: {
        tournament: {
          id: '',
          nom: '',
          description: '',
          date_debut: ''
        }
      },
      matches: {
        matche: {
          TournoiId: null,
          Matche_user: {}
        }
      }
    }
  },
  mounted: function () {
    this.matches = null
    this.$http.get('http://localhost:3000/tournament/arbitre')
      .then(response => {
        console.log(response.data)
        // this.tournaments = response.data.filter(user => user['Tournament_arbitre'][['TournamentArbitres']['arbitre_id']] !== 10)
        this.tournaments = response.data.filter(user => user['Tournament_arbitre.TournamentArbitres.arbitre_id'] === 10)
      })
      .catch(function (error) {
        console.log(error.response)
      })
  },
  methods: {
    startTournament (tournament) {
      this.$http.post('http://localhost:3000/tournament/initialization', {tournament_id: tournament})
        .then(response => {
          if (response.data.Matches.length > 0 || response.data.OK === 'OK') {
            this.tournaments = null
            this.column1 = 'Player 1'
            this.column2 = 'Player 2'
            if (response.data.Matches.length > 0) {
              this.matches = response.data.Matches
            }
          }
        })
        .catch(function (error) {
          console.error(error.response)
        })
    },
    startMatche (matche) {
      this.$http.post('http://localhost:3000/matche/initialization', {matche_id: matche})
        .then(response => {
          this.$router.push({name: 'matcheArbitre', params: {id: matche}})
        })
        .catch(function (error) {
          console.error(error)
        })
    }
  }
}
</script>
