<template>
    <table class="table table-bordered" id="" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>Name</th>
            <th>Start date</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Name</th>
            <th>Start date</th>
        </tr>
        </tfoot>
        <tbody>
        <tr v-for="tournament in tournaments" :key="tournament">
            <td>{{tournament.nom}}</td>
            <td>{{new Date(tournament.date_debut) | dateParse('YYYY-MM-DDThh:mm:ss') | dateFormat('YYYY-MM-DD hh:mm') }}</td>
        </tr>
        </tbody>
    </table>
</template>

<script>
export default {
  name: 'tab-tournament',
  data () {
    return {
      tournaments: {
        tournament: {
          id: '',
          nom: '',
          description: '',
          date_debut: ''
        }
      }
    }
  },
  mounted: function () {
    this.$http.get('http://localhost:3000/tournament')
      .then(response => {
        this.tournaments = response.data
        console.log(response.data)
      })
      .catch(function (error) {
        console.error(error.response)
      })
  }
}
</script>
