<template>
    <div id="app">
        <router-view/>
    </div>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
      localStorage: localStorage,
      message: '',
      messages: [],
      state: this.$store.state
    }
  },
  watch: {
    disconnect: (event) => {
      this.$store.state.is_connected = false
      this.$store.state.is_admin = false
      this.$store.state.is_arbitre = false
      this.$store.state.is_user = false
      this.$router.push('home')
    }
  },
  mounted () {}
}
</script>
