header .btn, header .btn:focus {
    background-color: transparent;
}
header ul > li {
    margin: auto;
}

.btn, .btn:focus {
    box-shadow: none;
}

.card-singIn {
    max-width: 500px;
    margin: auto;
}

.dropdown-menu {
    background: none !important;
    color: white;
    margin-left: 40px !important;
}

.dropdown-menu > a {
    padding: 0px !important;
    color: white !important;
}


.number-input input {
    /*width: -webkit-fill-available;*/
}
